{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/css/bootstrap.css' %}">
<link rel="icon" href="{% static 'home/images/logo.png' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'home/bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Sharing Portal</title>
</head>
<body>
<div class="jumbotron text-center bg-light" style="margin-bottom:0">
<h1 align="center">File Sharing Portal</h1>
</div>
<div class="row">
{% if not user.is_authenticated %}
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3 border border-dark rounded">
        <h2>Login</h2>
        <form method="post">
        {% csrf_token %}
        {{ login.as_p }}
        <button type="submit">Login</button>
        </form>
    <a href="#">Forgot Password?</a>
    </div>
    <div class="col-sm-3 border border-dark rounded">
        <h2>Signup</h2>
        <form method="post">
        {% csrf_token %}
        {% for field in signup %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
        <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="col-sm-3">
    </div>
{% else %}
<div class="col-sm-3">
    </div>
    <div class="col-sm-3 border border-dark rounded">
    <button data-toggle="collapse" class="btn btn-info" data-target="#Course" style="margin-bottom: 5px">Add Course</button>
        <div id="Course" class="collapse">
            <form method="get">
        {% csrf_token %}
        {{ course.as_p }}
        <button type="submit">Add</button>
        </form>
        </div>
    </div>
    <div class="col-sm-3 border border-dark rounded">
        {% if courses %}
    <h2 class="sticky-top subhead">Courses Available</h2>
    <ul>
    {% for crs in courses %}
        <li style="margin-bottom: auto"><div style="color: black"><div class="btn btn-link bg-white bar border border-dark" style="color: black"> {{ crs.name }}</div>
            <a href="#" class="btn btn-link bg-primary" style="color: white">Register</a></div></li>
    {% endfor %}
    </ul>
    {% else %}
    No course available!
{% endif %}
    </div>
    <div class="col-sm-3">
    </div>
{% endif %}
</div>

</body>
</html>